RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672


API_GATEWAY_PORT=3000

AUTH_DB_HOST=
AUTH_DB_PORT=
AUTH_DB_DATABASE=
AUTH_DB_USERNAME=
AUTH_DB_PASSWORD=

WALLET_DB_HOST=
WALLET_DB_PORT=
WALLET_DB_DATABASE=
WALLET_DB_USERNAME=
WALLET_DB_PASSWORD=


FX_DB_HOST=
FX_DB_PORT=
FX_DB_DATABASE=
FX_DB_USERNAME=
FX_DB_PASSWORD=


MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_USE_TLS=
MAIL_USE_SSL=


FX_API_KEY=

REDIS_HOST=
REDIS_PORT=
